:root {
  --nw: #FFCD05;
  --gray: #808080;
  --white: #FFFFFF;
  --red: #FF0000;
  --green: #38c172;
}

html,
body {
   margin:0;
   padding:0;
   height:100vh;
   max-width: 100vw;
   overflow-x: hidden;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--nw);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

main {
  min-height: calc(100vh - 211px - 58px);
  margin: 0 auto;
  padding: 30px 20px;
  width: 100vw;
}

p {
  color: rgba(0, 0, 0, 0.7);
}

.theme-toggler {
  border: none !important;
  cursor: pointer;
  background-color: var(--white);
}

.faq-text {
  width: 100px;
  white-space: nowrap;
  overflow: auto;
}

.navbar-toggler {
  border: none;
  height: 100%;
  vertical-align: center;
}

.support-items div {
  margin-bottom: 12px;
}

.border-radius-none {
  border-radius: 0rem !important;
}

.dropdown-item:active {
  background-color: var(--nw);
}

.dropdown-menu {
  border-radius: 0rem;
}

.border-bottom {
  border-bottom: 5px solid black;
}

.bg-green {
  background-color: var(--green);
}

.text-green {
  color: var(--green);
}

.bg-orange {
  background-color: orange;
}

.text-orange {
  color: orange;
}

.bg-red {
  color: var(--red);
}

.text-red {
  color: var(--red);
}

.bg-gray {
  background-color: var(--gray);
}

.logo-nav {
  width: 25%;
}

.display-flex {
  display: flex;
  align-items: center;
}

.geekr-color {
  color: var(--nw);
}

.geekr-bg {
  background-color: var(--nw) !important;
}

.btn-nw {
  background-color: var(--nw);
  color: #FFF;
  border-color: var(--nw);
  border-radius: 3px;
}

.btn-nw:hover {
  background-color: #cc5800;
  color: #FFF;
  border-color: #856c04;
}

.order-completed {

}

.order-canceled {
  background-color: #FF0000;
}

.card {
  margin: 10px;
}

.carousel {
    margin-top: 20px;
}
.carousel-item .thumb {
	width: 25%;
	cursor: pointer;
	float: left;
}
.carousel-item .thumb img {
	width: 100%;
	margin: 2px;
}
.carousel-item img {
	width: 100%;
}

.underline-hover:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0px;
  height: 2px;
  background: var(--nw);
  transition: all 0.5s;
  /* transition: all 1s; */
}

.underline-hover:hover {
  text-decoration: none;
}

.underline-hover:hover:after {
  width: 100%;
  left: 0;
}

a:hover {
  text-decoration: none;
}

.label {
  color: var(--white);
  width: 100%;
  /* height: 36px; */
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  position: absolute;
}

.label-orange {
  background-color: var(--nw);
}

.label-red {
  background-color: var(--red);
}

.label-green {
  background-color: var(--green);
}

.product-image {
  position: relative;
}

.product-image img {
  width: 100%;
  vertical-align: top;
}

.product-image::before {

}

.product-image:after {
  content: 'Vergrootglas moet hier nog komen';
  position: absolute;
  display: block;
  text-align: center;
  vertical-align: middle;
  color: white;
  width: 100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.7);
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 0.5s;
}

.product-image:hover:after {
  opacity: 1;
}

footer {
  padding: 20px;
  background-color: #fff !important;
  color: rgba(0, 0, 0, 0.5);
  bottom: 0;
}

a.footer-item {
  /* text-decoration: none; */
  color: rgba(0, 0, 0, 0.5);
}
